.analytics-card{
    width:250px;
    height: 100px;
    border-radius: 5px;
    background-color:#388087;
    text-align: center;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
}
.analytics-card h1{
    color: white;
}
.pagination ul li:first-child button{
    width:90px;
    background-color: #388087;
    color: white;
}
.pagination ul li:last-child button{
    width:90px;
    background-color: #388087;
    color: white;
}

.user-list div:nth-child(3){
    overflow-x: scroll;
}
.user-list div::-webkit-scrollbar{
    /* display: none; */
    height:5px;
    background-color: gray;
}

.user-list table td{
    background-color:#1f2937;
    color: white;
}
.user-list table th{
    background-color:#111827;
    color: white;
}
.user-list select{
    color: white !important;
}
.user-list select option{
    color:black;
}
