@tailwind base;
@tailwind components;
@tailwind utilities;

* {
     font-family: "Inter", sans-serif;
     font-family: "Poppins", sans-serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
