.admin-sidebar h1 {
     font-family: "Joti One", serif;
     font-size: 40px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
}
.admin-sidebar img {
     width: 40px;
     height: 40px;
}
.sidebarLogo-text {
     line-height: 10px;
}
.admin-sidebar nav div:first-child {
     background-color: #111827;
}
.admin-sidebar nav li span {
     color: white;
}
