.analytics-card {
    width: 250px;
    height: 100px;
    border-radius: 5px;
    background-color: #388087;
    text-align: center;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
}
.community-list table td {
    background-color: #1f2937;
    color: white;
}
.community-list table th {
    background-color: #111827;
    color: white;
}
.filter select {
    color: rgba(255, 255, 255, 0.429) !important;
    border: 1px solid white;
    padding:5px;
}
.filter select option {
    color: black;
}