
/*search-box style*/

.search-box input{
    height: 40px;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    padding-left: 15px;
  }
.search-box .user-list-search{
  border: 1px solid rgba(0, 0, 0, 0.338);
}
.user-list-search{
  max-height: 80vh;
  overflow-y: scroll;
}
.user-list-search::-webkit-scrollbar{
  display: none;
}
