.rectangle-box {
     width: 27vw;
     height: 80vh;
     flex-shrink: 0;
     border-radius: 0px 0px 70px 70px;
     background: #bd80f9;
}
.signup-img{
    width: 500px;
    /* top: 40vh;
    left : 10vw; */
}