.cover-photo{
    max-height: 300px;
    min-height: 100px;
}
.user-profile .cover-photo img{
    max-height: 300px;
    width: 100vw;
}
.user-profile .left-area{  
    margin-top: -10%;
}
.user-profile .profile-img{
    width: 15vw;
    height: 15vw;
    min-height: 100px;
    min-width: 100px;
    background-color: #ff0000;
    border-radius: 10px;
}
.add-cover-btn{
    position:absolute;
    right: 10px;
    top : 80px;
    border-radius: 10px;
    background-color: rgba(199, 199, 199, 0.553);
}
.add-cover-btn:hover{
    background-color: rgba(128, 128, 128, 0.432);
}

/*edit profile img button*/
.edit-profileImg{
    background-color: rgba(0, 0, 0, 0.877);
}  