.volume-button{
    background-color: rgba(255, 255, 255, 0.055);
}
.comments::-webkit-scrollbar{
    display: none;
}

.post-container::-webkit-scrollbar{
    display: none;
}
.add-comment input{
    color: white;
    border: 1px solid gray;
}

.view-post-modal {
    border: 1px solid gray;
    min-height: 80vh;
}