.edit-profile{
    /* margin-left: 270px; */
    position: relative;
}
/* .text-field{
} */
.text-field :first-child{
    /* z-index: -1; */
    position: relative;
    height: 40px;
    max-width: 500px;
    
}
.edit-profile label{
    color:white;
}

.edit-profile input{
    background-color:#1f2937;
    color: white;
}
