.user-header {
     height: 70px;
     z-index: 10;
     top: 0;
}
.logo h1 {
     font-family: "Joti One", serif;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
}

/*user header profile dropdown*/
.profile-dropdown .dropdown {
     display: flex;
     flex-direction: column;
     width: 300px;
     box-shadow: 0px 3px 6px 5px rgba(0, 0, 0, 0.09);
     justify-content: center;
     border-radius: 5px;
     z-index: 20 !important;
}

.profile-dropdown .value {
     background-color: transparent;
     border: none;
     color: rgb(255, 255, 255);
     display: flex;
     align-items: center;
     position: relative;
     gap: 5px;
     cursor: pointer;
     border-radius: 4px;
}

.profile-dropdown .value:not(:active):hover,
.value:focus {
     background-color: rgba(128, 128, 128, 0.171);
}

/* notification drawer */
.notification-drawer {
     width: 30vw;
}
.notification-drawer::-webkit-scrollbar {
     display: none;
}
.notification-drawer .close-icon{
     display: none;
}
@media only screen and (max-width: 900px) {
     .notification-drawer {
          width: 50vw;
     }
}
@media only screen and (max-width: 600px) {
     .notification-drawer {
          width: 100vw;      
     }
     .notification-drawer .close-icon{
          display: block;
     }
}
