.view-community .left-side-bar {
     height: calc(100vh - 70px);
}
.view-community .right-section {
     height: calc(100vh - 70px);
}

.view-community .left-side-bar::-webkit-scrollbar{
     display: none;
}